
<div class="uk-position-relative uk-visible-toggle " tabindex="-1" uk-slideshow="ratio: false animation: fade; autoplay: true; autoplay-interval: 3500;min-height: 600; max-height: 600">

    <div class="uk-slideshow-items">
     
        <div class="">
            <img class="" src="img/referral.png" alt="" uk-cover>
            <div class="uk-container uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
                <h3 class="uk-margin-remove">GANHE COMISSÕES INDICANDO CLIENTES</h3>
                <p class="uk-margin-remove">
                    Indicadores e Consultores de Recomendação conectam novas oportunidades à Angola Cables.<br> Comissões e taxas de recomendação são recompensadas por leads qualificados que resultam em novos contratos.
                </p>
                <div class="uk-margin-small-top">
                    <a><button class="uk-button uk-button-default uk-border-pill">REGISTRAR LEAD</button></a>
                </div>
            </div>
        </div>
        
        <div>
            <img class="" src="img/sales.png" alt="" uk-cover>
            <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
                <h3 class="uk-margin-remove">PARTICIPE COMO AGENTE DE VENDAS</h3>
                <p class="uk-margin-remove">
                    Seja um parceiro ativo! Agentes de Vendas ajudam a Angola Cables a qualificar leads, nutrir relacionamentos e fechar novos negócios.<br> Treinamento e suporte são fornecidos para garantir expertise no mercado local.
                </p>
                <div class="uk-margin-small-top">
                    <a><button class="uk-button uk-button-default uk-border-pill">TORNAR-SE AGENTE</button></a>
                </div>
            </div>
        </div>
        
        <div>
            <img class="" src="img/reseller.jpg" alt="" uk-cover>
            <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
                <h3 class="uk-margin-remove">PROGRAMAS DE REVENDA PERSONALIZADOS</h3>
                <p class="uk-margin-remove">
                    Revendedores da Angola Cables possuem controle total sobre os contratos e processos de vendas com seus clientes.<br> Tarifas com desconto permitem margens competitivas e estruturas flexíveis para aumentar seus lucros.
                </p>
                <div class="uk-margin-small-top">
                    <a><button class="uk-button uk-button-default uk-border-pill">TORNAR-SE REVENDEDOR</button></a>
                </div>
            </div>
        </div>
        
    </div>

    <div class="uk-light">
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href uk-slidenav-next uk-slideshow-item="next"></a>
    </div>

</div>
