<div class=" ">

    <div class="uk-container">
    
      
        
        
    <div  class=" uk-grid-column-gap uk-grid-medium uk-margin-large-bottom  uk-grid-collapse uk-grid-match uk-child-width-expand@s uk-text-center" uk-grid uk-grid-match>
    
    
        <div class=" fundo-grid texto uk-text-left uk-padding uk-border-rounded">
            
            <ul class="uk-nav uk-navbar-dropdown-nav">
               <h2 style="font-weight: 600;" class="texto">Parceiros<br>de Indicações</h2>
                <div>
                    
                    <p class="texto">
                        Indicadores recebem comissões ou taxas de recomendação por apresentar oportunidades qualificadas à Angola Cables que resultem em novos contratos.
                        <br><br>Consultores de Recomendação simplesmente registram o lead e direcionam a oportunidade para a equipe comercial ou de vendas da Angola Cables, fornecendo um briefing sobre as condições e participando das conversas (como reuniões, apresentações ou e-mails com o cliente indicado).
                     
                </p>
                <div>
                    <a href="#"><button class="uk-button-primary uk-border-pill uk-button ">Indicar Cliente</button></a>
                </div>
                <br>Descarregar Ficha: <span class="uk-margin-small-right" uk-icon="file-pdf"></span> PT | EN | FR

           
                </div>
            </ul>
        </div>
    
    
        <div class=" fundo-datacenter texto uk-text-left uk-padding uk-border-rounded">
            
            <ul class="uk-nav uk-navbar-dropdown-nav">
               <h2 style="font-weight: 600;" class="texto">Parceiro <br>Agente</h2>
                <div>
                    
                    <p class="texto">
                        Os Agentes de Vendas da Angola Cables são parceiros registrados e aprovados que geram consistentemente negócios para o programa. Eles desempenham um papel ativo na qualificação de leads, construção de relacionamento, previsão de oportunidades e fechamento de novos negócios comerciais.
<br><br>Os Agentes de Vendas precisam concluir treinamentos e certificações sobre as principais soluções da Angola Cables.
                </p><br>
                <div>
                    <a href="#"><button class="uk-button-primary uk-border-pill uk-button ">Registar-se</button></a>
                </div>
                <br>Descarregar Ficha: <span class="uk-margin-small-right" uk-icon="file-pdf"></span> PT | EN | FR

           
                </div>
            </ul>
        </div>
    
        <div class=" fundo-grid texto uk-text-left uk-padding uk-border-rounded">
            
            <ul class="uk-nav uk-navbar-dropdown-nav">
               <h2 style="font-weight: 600;" class="texto">Revendedor <br> Oficial</h2>
                <div>
                    
                    <p class="texto">
                        Indicadores recebem comissões ou taxas de recomendação por apresentar oportunidades qualificadas à Angola Cables que resultem em novos contratos.
                        <br><br>Parceiros de Indicação simplesmente registram o lead e direcionam a oportunidade para a equipe comercial ou de vendas da Angola Cables, fornecendo um briefing sobre as condições e participando das conversas (como reuniões, apresentações ou e-mails com o cliente indicado).
                                                <br>
                        
                </p>
                <div>
                    <a href="#"><button class="uk-button-primary uk-border-pill uk-button ">Registar-se</button></a>
                </div>
                <br>Descarregar Ficha: <span class="uk-margin-small-right" uk-icon="file-pdf"></span> PT | EN | FR

           
                </div>
            </ul>
        </div>
    
    
    </div>
    
    
    </div>
    
    
    
    
    
    
    </div>