

<div class="uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex" style="background-image: url('img/fundo.png');">
    <div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">
        <h2 uk-parallax="opacity: 0,1; y: -100,0; scale: 2,1; end: 50vh + 50%;">Expanda sua presença global com o nosso programa de parceiros. <br>Alcance mercados como EUA, América Latina (LATAM), Europa e África.</h2>
        <p style="color: white;" uk-parallax="opacity: 0,1; y: 100,0; scale: 0.5,1; end: 50vh + 50%;">O nosso programa é a oportunidade perfeita empresas de telecomunicações, operadoras e provedores de serviços de internet que desejam crescer em volume de negócios e expandir em alcance.</p>
    </div>
</div>


<div class="uk-container ">



    <div class="uk-text-center" uk-grid>
        
        <div class="uk-width-1-3@m uk-margin-large-left uk-margin-large-right">
            <div class="uk-card-body">
                <h2 style=" font-weight: 600;   color: rgb(18, 72, 130);" class="uk-text-left">Vamos<br> começar!</h2>
                <p class="uk-text-left">Ao aproveitar a infraestrutura robusta e as soluções de conectividade da Angola Cables, os participantes podem desbloquear novas oportunidades de negócios, aprimorar a entrega de serviços e estabelecer uma presença mais forte nos mercados globais.</p>
                <h3 style="    color: rgb(18, 72, 130); " class="uk-text-left">Pronto para a parceria?

                    <div class="uk-margin-small-top">
                        <ul class="uk-nav-primary" uk-nav>
                            <li class="uk-parent">
                                <a href="#"><button class="uk-border-pill uk-button uk-button-primary uk-border pill"> Escolher o tipo de parceria <span uk-nav-parent-icon></span></button></a>
                                <ul class="fundo-lista uk-nav-sub">
                                    <li><a class="texto-li" href="#">> Indicar Clientes</a></li>
                                    <li><a class="texto-li">> Tornar-se Agente</a></li>
                                    <li><a class="texto-li">> Tornar-se Revendedor</a></li> 

                                </ul>
                            </li>
                            
                        </ul>
                    </div>

                </h3>
            </div>
        </div>
        <div class="uk-width-expand@m">
            <div class="uk-card  uk-card-body">
                <div class="uk-margin-large-bottom"><h2 class="uk-text-left" style=" font-weight: 600;   color: rgb(18, 72, 130);">O que oferecemos <br>aos nossos parceiros?</h2></div>

                <div class="uk-grid-divider uk-child-width-expand@s" uk-grid>



                    <div>
                        <i class="fa-solid fa-arrow-up-right-dots fa-2xl "></i>                        <p> Incentivos
                            <br>e Recompensas</p>
                    </div>
                    <div>
                        <i class="fa-solid fa-person-chalkboard fa-2xl"></i>
                        <p>Treinamento <br>de Produto
                        </p>
                    </div>                    
                    <div>
                        <i class="fa-solid fa-headset fa-2xl"></i>
                        <p>Suporte <br>de Vendas</p>
                    </div>                
                </div> 

                <div class="uk-grid-divider uk-child-width-expand@s " uk-grid>
                    <div>
                        <i class="fa-solid fa-file-contract fa-2xl"></i>
                        
                        <p>Plano de<br> Vendas SDR                        </p>
                    </div>
                    <div>
                        <i class="fa-solid fa-gears fa-2xl"></i>
                             <p>Acesso à <br>Equipe Técnica
                        </p>
                    </div>                    
                    <div>
                        <i class="fa-solid fa-bullhorn fa-2xl"></i>
                                                <p>Suporte de <br> Marketing</p>
                    </div>                
                </div>
                <div class="uk-grid-divider uk-child-width-expand@s" uk-grid>
                    <div>
                        <i class="fa-solid fa-calendar-check fa-2xl"></i>
                           <p>Eventos <br>Exclusivos
                        </p>
                    </div>
                    <div>
                        <i class="fa-solid fa-globe fa-2xl"></i>
                                                <p>Expansão<br> Global
                        </p>
                    </div>                    
                    <div>
                        <i class="fa-solid fa-bookmark fa-2xl"></i>
                        <p>Uso de Logotipos Oficiais </p>
                    </div>                
                </div>
                
            </div>
        </div>
       
    </div>
    
</div>




