/* Navbar container styles */
nav {
    background: linear-gradient(45deg, rgba(0, 24, 61), rgba(0, 97, 187), rgba(0, 42, 81)) !important;
    color: black !important;
}

/* Ensure the nav links are positioned correctly */
.uk-navbar-nav > li > a {
    position: relative;
    color: #fff; /* Default link color */
    text-decoration: none;
    padding-bottom: 5px; /* Add space for the underline */
}

/* Underline effect */
.uk-navbar-nav > li > a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0; /* Position it flush with the bottom of the link */
    width: 0;
    height: 3px; /* Thickness of the underline */
    background-color: #ffffff; /* Color of the underline */
    transition: width 0.3s ease, background-color 0.3s ease;
    color: rgb(240, 240, 240) !important;
}

/* Hover state for the underline */
.uk-navbar-nav > li > a:hover::after {
    width: 100%;
    color: #fff !important;
}

/* Change link text color on hover */
.uk-navbar-nav > li > a:hover {
    color: #fff; /* Change link color on hover */
}


.uk-offcanvas-bar {
    background-color: #fff;
    color: white !important;
}

li.uk-open .uk-accordion-title span[uk-icon] {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}