<!DOCTYPE html>


<head>
    <html lang="en">

    <meta charset="utf-8">
    <title>Acables</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.21.13/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.13/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.13/dist/js/uikit-icons.min.js"></script>
    <link rel="icon" type="image/x-icon" href="favicon.ico">

<body>


      
  

    <div class="uk-position-relative">

        <nav class="uk-navbar-container 	" >
            <div class="uk-container uk-visible@m">
                <div uk-navbar="dropbar: true; dropbar-anchor: !.uk-navbar-container; target-y: !.uk-navbar-container">

                    <div class="uk-navbar-center">
                        <a class="uk-navbar-item uk-logo" href="#"><img class="uk-logo"
                                style="width: 150px; height: auto;" src="img/logo.png"></a>

                        <ul class="uk-subnav uk-navbar-nav ">

                            <li>
                                <a href="#" >Sobre o Programa</a>
                                
                            </li>

                            <li>
                                <a href="#">Benefícios</a>
                                
                            </li>

                            <li>
                                <a href="#">Tipos de parceiros</a>
                                
                            </li>


                            

                        </ul>

                    </div>

                    <div class="uk-navbar-right">

                        <ul class="uk-navbar-nav">
                            <li>
                                <a href="#">Login</a>
                                <div class="uk-navbar-dropdown">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li><a href="#"> > Revendedor</a></li>
                                        <li><a href="#"> > Agente</a></li>
                                        <li><a href="#"> > Parceiro de Referência</a></li>



                                    </ul>
                                </div>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>

            <div class="">
                <a class="uk-navbar-item uk-logo uk-hidden@m" href="#offcanvas-nav"><img class="uk-logo"
                    style="width: 150px; height: auto;" src="img/logo.png"></a>
                <a class="uk-navbar-toggle uk-hidden@m" href="#offcanvas-nav" uk-toggle>
                  <span uk-navbar-toggle-icon></span>
                </a>
              </div>
        </nav>


    </div>

    <div id="offcanvas-nav" uk-offcanvas="flip: true; overlay: true">
        <div class="uk-offcanvas-bar">
          <!-- Close button with arrow -->
        
            

          <ul class="uk-margin-medium-top" uk-accordion="multiple: false">
            <li class="">

                <p>Olá! Seja Bem-vindo <br> a Angola Cables</p>

                <a class="uk-accordion-title" href><span class="uk-margin-small-right" uk-icon="chevron-down"></span>
                    CONECTIVIDADE</a>
                <div class="uk-accordion-content">
                    <ul class="uk-nav uk-navbar-dropdown-nav">

                        <li class="uk-nav-header">TRANSPORTE</li>
                        <li class="uk-nav-divider"></li>

                        <li><a href="#"> > Remote Peering</a></li>
                        <li><a href="#"> > ACloud Connect</a></li>
                        <li><a href="#"> > L2VPN</a></li>
                        <li><a href="#"> > GDI</a></li>

                        <li class="uk-nav-header"><b>IPCL</b></li>
                        <li class="uk-nav-divider"></li>

                        <li><a href="#"> > SDH</a></li>
                        <li><a href="#"> > OTN</a></li>
                        <li><a href="#"> > DWDM</a></li>
                        <li><a href="#"> > SPECTRUM</a></li>
                        <li><a href="#"> > EoSDH</a></li>


                    </ul>

                </div>
            </li>
            <li>
                <a class="uk-accordion-title" href><span class="uk-margin-small-right" uk-icon="chevron-down"></span>
                    DATA CENTER</a>                <div class="uk-accordion-content">

                        <ul class="uk-nav uk-navbar-dropdown-nav">

                            <li class="uk-nav-header">GERENCIAMENTO</li>
                            <li class="uk-nav-divider"></li>
    
                            <li><a href="#"> > Remote Hands</a></li>
                            <li><a href="#"> > Smart Hands</a></li>
                            <li><a href="#"> > Managed Services</a></li>
                            <li><a href="#"> > Expert Hands</a></li>
                            <li><a href="#"> > Consulting Services</a></li>
                            <li><a href="#"> > Support Services</a></li>
                            <li><a href="#"> > Smart Colocation</a></li>
    
                            <li class="uk-nav-header"><b>REAL ESTATE</b></li>
                            <li class="uk-nav-divider"></li>
    
                            <li><a href="#"> > Colocation</a></li>
                            <li><a href="#"> > Power</a></li>
                            <li><a href="#"> > Cross Conect</a></li>
                            <li><a href="#"> > InnerDuct</a></li>
                            <li><a href="#"> > Inter Connection</a></li>
                            <li><a href="#"> > Disaster Recovery</a></li>
                            <li><a href="#"> > Warehouse</a></li>
                            <li><a href="#"> > Outdoor Colocation</a></li>
                            <li><a href="#"> > DC Lease</a></li>


    
    
                        </ul>
    

                    </div>
            </li>
            <li>
                <a class="uk-accordion-title" href><span class="uk-margin-small-right" uk-icon="chevron-down"></span>
                    ICT</a>                <div class="uk-accordion-content">

                        <ul class="uk-nav uk-navbar-dropdown-nav">

                        
                           
                            <li class="uk-nav-header">VIRTUALIZAÇÃO</li>
                            <li class="uk-nav-divider"></li>

                            <li><a href="#"> > AntiDDoS L4</a></li>
                            <li><a href="#"> > AntiDDoS L7</a></li>
                            <li><a href="#"> > Clouds2Africa</a></li>
                            <li><a href="#"> > Host2Africa</a></li>
                            <li><a href="#"> > Host2Brasil</a></li>
                            <li><a href="#"> > Clouds2Brasil</a></li>
                            <li><a href="#"> > SDWAN</a></li>
                            <li><a href="#"> > AfPlay</a></li>
                            <li><a href="#"> > AOPlay</a></li>
                            <li><a href="#"> > AOLearn</a></li>
                            <li><a href="#"> > Orquestrador Cloud</a></li>
    
                            
                            <li class="uk-nav-header">MARKETPLACE(Clouds2Africa)</li>
                            <li class="uk-nav-divider"></li>

                            <li><a href="#"> > DBaaS</a></li>
                            <li><a href="#"> > ACProdutividade</a></li>
                            <li><a href="#"> > FTPaaS</a></li>
                            <li><a href="#"> > Vods2Africa</a></li>
                            <li><a href="#"> > SAP B1</a></li>
                            <li><a href="#"> > Kubernets</a></li>
                            <li><a href="#"> > Runner</a></li>
                            <li><a href="#"> > CDN</a></li>
                            <li><a href="#"> > Drops2Africa</a></li>
                            <li><a href="#"> > Baremetal2Africa</a></li>


    
    
                        </ul>
    

                    </div>
            </li>

            <li>
                <a class="uk-accordion-title" href><span class="uk-margin-small-right" uk-icon="chevron-down"></span>
                    QUEM SOMOS?</a>                <div class="uk-accordion-content">

                        <ul class="uk-nav uk-navbar-dropdown-nav">


                            

                            <li class="uk-nav-header">Acerca da empresa</li>
                            <li class="uk-nav-divider"></li>

                            <li><a href="#"> > História</a></li>
                            <li><a href="#"> > Missão e Valores</a></li>
                            <li><a href="#"> > Estrutura Accionista</a></li>
                            <li><a href="#"> > Nossa História  </a></li>

                            <li class="uk-nav-header">Parceiros</li>
                            <li class="uk-nav-divider"></li>

                            <li><a href="#"> > Tornar-se parceiro</a></li>
                            <li><a href="#"> > Tornar-se revendedor</a></li>
                            <li><a href="#"> > Parceiros Oficiais</a></li>
                            <li><a href="#"> > Revendedores Oficiais</a></li>
                        
                           
                            <li class="uk-nav-header">CERTFICAÇÕES</li>
                            <li class="uk-nav-divider"></li>

                            <li><a href="#"> > Nossas Certificações </a></li>
                            <li><a href="#"> > Certificações dos nossos parceiros</a></li>
                            <li><a href="#"> > Prémios</a></li>
                            <li><a href="#"> > Trust Center </a></li>

                            <li class="uk-nav-header">JUNTA-TE A NÓS </li>
                            <li class="uk-nav-divider"></li>

                            <li><a href="#"> > Recrutamento</a></li>
                            <li><a href="#"> > Eventos</a></li>
                            <li><a href="#"> > Sala de Imprensa</a></li>
                            <li><a href="#"> > Newsletter</a></li>




    
    
                        </ul>
    

                    </div>
            </li>
        </ul>

        </div>
      </div>

      
</body>

</html>