<div class="  uk-border-rounded ">
    
    <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center  uk-margin-large-bottom" uk-grid>
        <div class="uk-margin-medium-right uk-margin-medium-left uk-margin-large-top">
            <app-categorias></app-categorias>

       
        </div>

<!--
        <div>
            <video
 
            autoplay
            loop
            muted
            id="promoVideo"
            class="promo-video uk-border-rounded"
          >
            <source src="vid/angola-cables.mp4" type="video/mp4">
            Seu não navegador não suporta o vídeo em falta.
          </video>
              </div>
       
    </div>
    -->

</div>