<div class="uk-container ">
    
    <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center uk-margin-large-top uk-margin-large-bottom" uk-grid>
        <div class="uk-margin-medium-right uk-margin-medium-left ">
            <div class="uk-container uk-text-center ">
                <b> PORQUÊ ANGOLA CABLES? </b>
                <h3 class=" uk-text-center">O Programa de Parceiros Globais da Angola Cables oferece uma oportunidade única para empresas de telecomunicações e operadoras, assim como provedores de serviços de internet, expandirem seus negócios nos Estados Unidos, LATAM, Europa e África.

                    Ao ingressar no Programa de Parceiros da Angola Cables, sua empresa terá acesso a uma série de ferramentas e benefícios voltados para aprimorar serviços, otimizar operações e aumentar a receita.</h3>
                <p class="uk-text-center"> A Angola Cables é uma multinacional com escritórios em mais de 7 cidades, 5 países e 200 colaboradores, de vários horizontes e culturas. <br> Temos uma rede que cobre os 4 continentes do Atlântico.
A Angola Cables é hoje uma empresa preparada para os desafios da digitalização com infraestruturas e talento humano para operar em qualquer mercado.
                </p>
                <a style="color:white !important" class="uk-margin-medium-bottom uk-text-left uk-button uk-button-primary uk-border-rounded" href="#" target="_blank">Saiba Mais</a>
            </div>
        </div>
<!--
        <div>
            <video
 
            autoplay
            loop
            muted
            id="promoVideo"
            class="promo-video uk-border-rounded"
          >
            <source src="vid/angola-cables.mp4" type="video/mp4">
            Seu não navegador não suporta o vídeo em falta.
          </video>
              </div>
       
    </div>
    -->

</div>